# Local
.DS_Store
*.local
*.log*
*.pem

# Dependencies
node_modules
dist
.nitro
.tanstack
.output

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~
.DS_Store

# Testing
coverage
.nyc_output

# Build outputs
build
*.tsbuildinfo

# debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Turbo
.turbo

# Environment variables
.env
.env*.local

# Vercel
.vercel

# Sentry Config File
.env.sentry-build-plugin

# Misc
*.tgz
.cache
tmp
temp
